.todo1 {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}

.form11 {
  margin-bottom: 20px;
}

.inp11 {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
  margin-left: 40px;
}

.btn11 {
  padding: 10px 20px;
  margin-top: 12px;
  margin-left: 150px;
  background-color: #52e2db;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn12 {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  padding: 5px 10px;
  background-color: #97d5e4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

li button:hover {
  background-color: #c82333;
}
